* {
    box-sizing: border-box;
}

html, body, .content {
    height: 100%;
}

body {
    margin: 0px;
}

.content {
    display: flex;
}

#editZone {
    width: 35%;
    resize: horizontal;
    overflow: hidden;
    margin: 0;
}

#editZone textarea {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 0;
    border-left: 7px solid lightgrey;
    resize: none;
    margin: 0;
}

#prosopopeeHtml {
    width: 100%;
}

#prosopopeeHtml iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-left: solid grey 2px;
}

.button {
    width: 100%;
    border-radius: 0;
    border: 0;
    padding: 7px;
    background-color: lightgrey;
}

.button:hover {
    background-color: #e1e1e1;
    cursor: pointer;
}

.button.loading, .button.loading:hover, .button.loading:active {
    color: grey;
    background-color: orange;
    border: 0;
}

.button-green {
    background-color: green;
    color: white;
}

.button-green:hover {
    background-color: lightgreen;
    cursor: pointer;
    color: black;
}

#editZone form {
    margin: 0;
}

#imagesZone {
    resize: horizontal;
    overflow-y: scroll;
    oyerflow-x: hidden;
    display: none;
}

#imagesZone.active {
    display: block;
    width: 450px;
}

#imagesZone img {
    width: 100%;
}

#imagesZone p {
    padding: 5px;
    background-color: #333;
    color: white;
    margin: 0;
    margin-bottom: 3px;
    text-align: center;
}

#imagesZone p.unused {
    background-color: #00AF00;
}
