* {
    box-sizing: border-box;
}

html, body, .content {
    height: 100%;
}

body {
    margin: 0px;
}

.content {
    display: flex;
}

#editZone {
    width: 35%;
    resize: horizontal;
    overflow: hidden;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#saveForm {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#editZone textarea {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 0;
    border-left: 7px solid lightgrey;
    resize: none;
    margin: 0;
}

#prosopopeeHtml {
    width: 100%;
}

#prosopopeeHtml iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-left: solid grey 2px;
}

.button {
    width: 100%;
    border-radius: 0;
    border: 0;
    padding: 7px;
    background-color: lightgrey;
}

.button:hover {
    background-color: #e1e1e1;
    cursor: pointer;
}

.button.loading, .button.loading:hover, .button.loading:active {
    color: grey;
    background-color: orange;
    border: 0;
}

.button-green {
    background-color: green;
    color: white;
}

.button-green:hover {
    background-color: lightgreen;
    cursor: pointer;
    color: black;
}

#editZone form {
    margin: 0;
}

#imagesZone {
    display: none;
}

#imagesZone.active {
    display: flex;
    width: 450px;
    flex-direction: column;
}

#imagesZone img {
    width: 100%;
}

#imagesZone p {
    padding: 5px;
    background-color: #333;
    color: white;
    margin: 0;
    margin-bottom: 3px;
    text-align: center;
    overflow: hidden;
}

#imagesZone p.unused {
    background-color: #00AF00;
}

#uploadImagesForm {
    margin-bottom: 0;
}

#currentGalleryImages {
    overflow-x: hidden;
    overflow-y: scroll;
    resize: horizontal;
}

#currentGalleryImages.loading {
    overflow-y: hidden;
    display: flex;
    flex-grow: 1;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid green;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
