  {% if settings.multilingual  -%}
  <!--<script type="text/javascript" src="../static/js/jquery-2.1.4.min.js" charset="utf-8"></script>-->
  <script type="text/javascript" charset="utf-8">
    
    function contains(a, obj) {
      for (var i = 0; i < a.length; i++) {
          if (a[i] === obj) {
              return true;
          }
      }
      return false;
    }
  
    if (window.navigator && window.navigator.language) {
      var locale = window.navigator.language.substr(0, 2);
      var availableLocales = [ "{{ settings.multilingual | join('", "') }}" ];
      var pagename = location.href.split("/").slice(-1);
      var targetpagename = "index.html";
      if (locale != availableLocales[0] && contains(availableLocales, locale)) {
        targetpagename = "index." + locale + ".html";
      }
      if (pagename != targetpagename) {
        document.location.href = targetpagename;
      }
    }
  
  </script>
  {% endif -%}
