      <nav>
        <div class="nav-wrapper">
          <ul>
            {%- for line in settings.menu -%}
	      {%- if line.type == "folder" -%}
	        {%- set file_name = line.url+"/" -%}
	      {%- elif line.type == "external" -%}
	        {%- set file_name = line.url -%}
	      {%- else -%}
	        {%- set file_name = line.url+".html" -%}
              {%- endif -%}
            {%- if loop.first -%}
            <li><a href={{ file_name }} class=first-item-menu>{{ line.name  }}</a></li>
            {% else %}
            <li><a href={{ file_name }} class=item-menu>{{ line.name }}</a></li>
            {%- endif -%}
            {%- endfor -%}
          </ul>
        </div>
      </nav>
