.staticrypt-hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

.staticrypt-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
  box-sizing: border-box;
}

.staticrypt-form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.staticrypt-form input {
  outline: 0;
  background: #292525;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.staticrypt-form .staticrypt-decrypt-button {
  text-transform: uppercase;
  outline: 0;
  background: #91C25F;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
}

.staticrypt-html {
  height: 100%;
}

.staticrypt-body {
  background: #FFF; /* fallback for old browsers */
  font-family: "Arial", sans-serif;
}

.staticrypt-instructions {
  margin-top: -1em;
  margin-bottom: 1em;
}

.staticrypt-title {
  font-size: 1.5em;
}

footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 6em;
  text-align: center;
  font-family: 'crimson', serif;
  font-size: 11px;
  color: #555;
  background-color: #EEE;
  border-top: solid 2px #DDD;
  padding-bottom: 10px;
  padding-top: 14px;
}

footer p {
  margin: 0;
}

footer a {
  text-decoration: none;
  font-weight: 600;
  font-family: 'montserrat', sans-serif;
  color: #111;
}
body.night {
    background-color: #061F2F;
    color: #d3d4d4;
}

body.night footer {
  background-color: #0f1b29;
  color: #fff;
}

body.night footer a {
  color: #fff;
}

body.night ul.icon a {
  -webkit-filter: invert(1);
  filter: invert(1);
}

body.night .back-to-home #logo {
  -webkit-filter: invert(1);
  filter: invert(1);
}

body.night a {
  color: #9CD7F7;
}

body.night .audio-player {
  background: #1f3341
}

body.night #logo {
  -webkit-filter: invert(1);
  filter: invert(1);
}

body.night .gallery-header h4 {
  color: #c1f1f0;
}

body.night .staticrypt-form {
  background-color: #061F2F;
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.2), 0 5px 5px 0 rgba(255, 255, 255, 0.2);
}

body.night .staticrypt-form input {
  background: #FFF;
  color: #9CD7F7;
}

body.night .staticrypt-decrypt-button {
  background: #1f3341 !important;
}

.floating-menu {
  font-family: sans-serif;
  padding: 5px;;
  width: 45px;
  z-index: 556;
  position: fixed;
  bottom: 0px;
  right: 0px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
