html {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'crimson', serif;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #FBFBFB;
  color: black;
  margin: 0px;
}

section {
  margin-bottom: 80px;
  margin-top: 40px;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #222;
  font-style: italic;
}

.full-picture {
  min-height: 250px;
  margin-top: 0;
  display: flex;
}

.full-picture > .picture-text {
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 555;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, .4);
}

.full-picture > .picture-text > .picture-text-colum {
  display: flex;
}

.full-picture h1 {
  font-family: 'montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 5.5vw;
  letter-spacing: 4px;
  margin-bottom: 1px;
}

.full-picture h2 {
  font-weight: normal;
  font-style: italic;
  font-size: 2.2vw;
  margin-top: 1px;
}

.full-picture .datetime {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.bordered-picture {
  display: flex;
  justify-content: center;
  margin-left: 11.5%;
  margin-right: 11.5%;
}

.bordered-picture img {
  max-height: 100vh;
  max-width: 100%;
}

.pictures-line {
  min-width: 77%;
  width: 77%;
  margin-left: 11.5%;
  margin-right: 11.5%;
  display: flex;
  margin-bottom: 0.5em;
}

.pictures-line .picture img {
  width: 100%;
}

.pictures-line .separator {
  min-width: 0.5em;
}

.text {
  text-align: center;
  font-size: 1.6em;
  line-height: 1.8em;
  margin-left: 21%;
  margin-right: 21%;
}

.paragraph {
  text-align: left;
  font-size: 24px;
  margin-left: 21%;
  margin-right: 21%;

}

.paragraph h2 {
  font-family: 'montserrat', sans-serif;
  font-size: 4.5vmin;
  line-height: 1.375;
  letter-spacing: -0.05em;
  font-weight: 300;
  margin: 0 0 1rem 0;
  text-transform: uppercase;
}

.paragraph p {
  line-height: 1.5em;
}

footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 6em;
  text-align: center;
  font-size: 11px;
  color: #555;
  background-color: #EEE;
  border-top: solid 2px #DDD;
  padding-bottom: 10px;
  padding-top: 14px;
}

.back-to-home {
  text-align: center;
}

.back-to-home hr {
  width: 14%;
  color: #DDD;
}

.back-to-home #logo {
  background: transparent url("../img/logo.svg") no-repeat scroll center top / cover;
  border-radius: 100em;
  border: 7px solid black;
  margin: auto;
  margin-top: 1em;
  height: 150px;
  width: 150px;
  color: transparent;
  font-size: 40px;
}

.back-to-home a {
  position: relative;
  text-decoration: none;
  color: transparent;
}

.back-to-home #logo:hover {
  background-color: black;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

footer p {
  margin: 0;
}

footer a {
  text-decoration: none;
  font-weight: 600;
  color: #111;
}

.gallery-header {
  margin-bottom: 0;
}



.caption {
  position: relative;
  overflow: hidden;
}

.caption__media {
  display: block;
  min-width: 100%;
  max-width: 100%;
  height: auto;
}

.caption__overlay {
  height: 20px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px 0 30px 0;
  color: white;
  transform: translateY(-400%);
  transition: transform .35s ease-out;
  background: -moz-linear-gradient(top, rgba(0,0,0,0.85) 0%, transparent 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0.85)), color-stop(100%, transparent));
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.85) 0%, transparent 100%);
  background: -o-linear-gradient(top, rgba(0,0,0,0.85) 0%, transparent 100%);
  background: -ms-linear-gradient(top, rgba(0,0,0,0.85) 0%, transparent 100%);
}

.caption:hover .caption__overlay {
  transform: translateY(0);
}

.caption h5 {
  position: relative;
  width: auto;
  display: inline-block;
  margin: 0 auto 10px auto;
  font-size: 20px;
  font-style: italic;
  padding: 2px 0px;
  width: 100%;
  text-align: center;
}

.bordered-picture .caption__overlay {
  margin-left: 11.5%;
  margin-right: 11.5%;
}

.center, .center-align {
  text-align: center;
}


.share, .author-meta {
  text-align: center;
  height: auto;
  position: relative;
  bottom: 0;
  padding: 0 0 10px 0;
}


ul.icon {
  padding: 0;
  margin: 10px 0 0 0;
}

ul.icon li {
  padding: 0;
  list-style-type: none;
  display:inline-block;
}

ul.icon a {
  display: block;
  float: left;
  background: url(../img/social-share.png) no-repeat;
  background-size: 196px 23px;
  border: none;
}

ul.icon li, ul.icon a {
  width: 32px;
  height: 32px;
  text-indent: -999999em;
  overflow: hidden;
  list-style-type: none;
  display: inline-block;
}

a.twitter {
  background-position: 5px 0 !important;
}

a.facebook {
  background-position: -57px 0 !important;
}

a.pinterest {
  background-position: -114px 0 !important;
}

a.google {
  background-position: -172px 0 !important;
}

.author-meta img.circle {
  border-radius: 50%;
  width: 80px;
}

/*
.author-meta {
padding-bottom: 7em;
}
 */

.author-info {
  font-style: italic;
  font-size: 19px;
}

.author-info h4 {
  text-transform: uppercase;
  text-align: center;
  font-style: normal;
  font-weight: bold;
}
.author-info .desc {
  width: 350px;
  margin: auto;
  padding-bottom: 10px;
  font-style: normal;
  font-size: 14px;
  line-height: normal;
  color: #333;
}

.bordered-picture video,
.picture video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 105%;
  margin-top: -2%;
}

.full-picture video {
  position: fixed; right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;
  background-size: cover;
}

.bordered-picture video {
  width: 77%;
  margin-left: 11.5%;
  margin-right: 11.5%;
  object-fit: fill;
}

.bg-section {
  padding: 1px 0px;
}

.bg-section section {
  margin-bottom: 40px;
  margin-top: 40px;
}

.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000;
}

.video-container .title-container {
  z-index: 1000;
  position: absolute;
  background-color: rgba(0, 0, 0, .4);
  width: 100%;
  height: 100%;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0;
}
.video-container .fillWidth {
  width: 100%;
}

@media only screen and (max-device-width : 992px) {

  .pictures-line {
    display: inherit;
  }

}

#slow-notice {
  width:300px;
  position: absolute;
  top:0;
  left:50%;
  margin-left: -160px;
  background-color: #F0DE7D;
  text-align: center;
  z-index: 999;
  padding: 10px;
  font-size: 12px;
}

#slow-notice a,
#slow-notice .dismiss {
  color: #000;
  text-decoration: underline;
  cursor:pointer;
}

#slow-notice .dismiss-container {
  text-align:right;
  padding-top:10px;
  font-size: 10px;
}

blockquote {
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  color: #8a8989;
}

blockquote:before {
  color: #8a8989;
  content: open-quote;
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote:after {
  color: #8a8989;
  content: close-quote;
  font-size: 3em;
  line-height: 0.1em;
  margin-left: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

video.responsive-video {
  max-width: 100%;
  height: auto;
}

.youtube-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  margin-bottom: -15%;
}


.youtube-container iframe, .youtube-container object, .youtube-container embed {
  position: absolute;
  top: 0;
  left: 0;
  height: 77%;
  width: 77%;
  margin-left: 11.5%;
  margin-right: 11.5%;
}

span.left {
  float: left;
  padding: 0 1.5em 1em 0;
  top: 0.25em;
}

span.right {
  float: right;
  padding: 0 0 1em 1.5em;
  top: 0.25em;
}

span.left img, span.right img {
  width: 100%;
}

.clear {
  clear: both;
}

body.night {
  background-color: #061F2F;
  color: #d3d4d4;
}

body.night footer {
  background-color: #0f1b29;
  color: #fff;
}

body.night footer a {
  color: #fff;
}

body.night ul.icon a {
  -webkit-filter: invert(1);
  filter: invert(1);
}

body.night .back-to-home #logo {
  -webkit-filter: invert(1);
  filter: invert(1);
}

body.night a {
  color: #9CD7F7;
}

body.night .audio-player {
  background: #1f3341
}

.floating-menu {
  padding: 5px;
  width: 45px;
  z-index: 556;
  position: fixed;
  bottom: 0px;
  right: 0px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0,80px,0)
  }

  to {
    transform: translate3d(0,0,0);
    opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0,80px,0)
  }

  to {
    transform: translate3d(0,0,0);
    opacity: 1
  }
}

.animated {
  animation-delay: 0.5s;
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
  opacity: 0
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

@media only screen and (max-device-width: 700px) {
  .paragraph {
    font-size: 3.7vmin !important;
    margin-left: 10% !important;
    margin-right: 10% !important;
  }
  .full-picture h2 {
    font-size: 3.2vw !important;
  }

  div.audio-player {
    width: 450px;
    height: 70px;
    margin: auto;
    background-color: inherit !important;
    padding: 12%;
    min-width: 77%;
    width: 77%;
    margin-left: 11.5%;
    margin-right: 11.5%;
  }

  .audio-player h2 {
    font-weight: 600 !important;
    font-family: inherit !important;
    color: inherit !important;
    text-shadow: none !important;
    padding: 0 !important;
  }

  section {
    margin-bottom: 0 !important;
  }
}

