html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #FBFBFB;
    color: black;
    margin: 0px;
}

section {
    margin-bottom: 80px;
    margin-top: 40px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #222;
    font-style: italic;
}

.full-picture {
    height: 100%;
    width: 100%;
    min-height: 250px;
    margin-top: 0;
}

.full-picture > .picture-text {
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 555;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, .4);
}

.full-picture > .picture-text > .picture-text-colum {
    display: flex;
}

.full-picture h1 {
    text-transform: uppercase;
    font-size: 5.5vw;
    letter-spacing: 4px;
    font-family: 'montserrat', sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1px;
}

.full-picture h2 {
    font-weight: normal;
    font-style: italic;
    font-size: 2.2vw;
    font-family: 'crimson', serif;
    margin-top: 1px;
}

.full-picture .datetime {
    text-transform: uppercase;
    font-family: 'crimson', serif;
    letter-spacing: 2px;
}

.bordered-picture img {
    height: 77%;
    width: 77%;
    margin-left: 11.5%;
    margin-right: 11.5%;
}

.pictures-line {
    min-width: 77%;
    width: 77%;
    margin-left: 11.5%;
    margin-right: 11.5%;
    display: flex;
    margin-bottom: 0.5em;
}

.pictures-line .picture img {
    width: 100%;
}

.pictures-line .separator {
    min-width: 0.5em;
}

.text {
    text-align: center;
    font-family: 'crimson', serif;
    font-size: 1.6em;
    line-height: 1.8em;
    margin-left: 21%;
    margin-right: 21%;
}

.paragraph {
    text-align: left;
    font-family: 'crimson', serif;
    font-size: 1em;
    margin-left: 21%;
    margin-right: 21%;
}

.paragraph h2 {
    font-family: 'montserrat', sans-serif;
    font-weight: normal;
    font-size: 2.5em;
    text-transform: uppercase;
    line-height: 1.4em;
}

.paragraph p {
    line-height: 2em;

}

footer {
    margin-top: 6em;
    text-align: center;
    position: relative;
    font-family: 'crimson', serif;
    font-size: 11px;
    color: #555;
    background-color: #EEE;
    border-top: solid 2px #DDD;
    padding-bottom: 10px;
    padding-top: 14px;
}

.back-to-home {
    text-align: center;
}

.back-to-home hr {
    width: 14%;
    color: #DDD;
}

.back-to-home #logo {
    background: transparent url("../img/logo.svg") no-repeat scroll center top / cover;
    border-radius: 100em;
    border: 7px solid black;
    margin: auto;
    margin-top: 1em;
    height: 150px;
    width: 150px;
    color: transparent;
    font-size: 40px;
}

.back-to-home a {
    position: relative;
    text-decoration: none;
    color: transparent;
}

.back-to-home #logo:hover {
    background-color: black;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    font-family: 'montserrat', sans-serif;
    font-weight: bold;
}

footer p {
    margin: 0;
}

footer a {
    text-decoration: none;
    font-weight: 600;
    font-family: 'montserrat', sans-serif;
    color: #111;
}

.gallery-header {
    margin-bottom: 0;
}



.caption {
    position: relative;
    overflow: hidden;
}

.caption__media {
    display: block;
    min-width: 100%;
    max-width: 100%;
    height: auto;
}

.caption__overlay {
    height: 20px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 20px 0 30px 0;
    color: white;
    transform: translateY(-100%);
    transition: transform .35s ease-out;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.85) 0%, transparent 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0.85)), color-stop(100%, transparent));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.85) 0%, transparent 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0.85) 0%, transparent 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0.85) 0%, transparent 100%);
}

.caption:hover .caption__overlay {
    transform: translateY(0);
}

.caption h5 {
    position: relative;
    width: auto;
    display: inline-block;
    margin: 0 auto 10px auto;
    font-size: 20px;
    font-family: "adobe-garamond-pro", serif;
    font-weight: normal;
    font-style: italic;
    padding: 2px 20px;
    width: 100%;
    text-align: center;
}

.bordered-picture .caption__overlay {
    margin-left: 11.5%;
    margin-right: 11.5%;
}

.center, .center-align {
  text-align: center;
}


.share, .author {
    text-align: center;
    height: auto;
    position: relative;
    bottom: 0;
    padding: 0 0 10px 0;
    font-family: 'crimson', serif;
}


ul.icon {
   padding: 0;
   margin: 10px 0 0 0;
}

ul.icon li {
  padding: 0;
  list-style-type: none;
  display:inline-block;
}

ul.icon a {
    display: block;
    float: left;
    background: url(../img/social-share.png) no-repeat;
    background-size: 196px 23px;
    border: none;
}

ul.icon li, ul.icon a {
    width: 32px;
    height: 32px;
    text-indent: -999999em;
    overflow: hidden;
    list-style-type: none;
    display: inline-block;
}

a.twitter {
    background-position: 5px 0 !important;
}

a.facebook {
    background-position: -57px 0 !important;
}

a.pinterest {
    background-position: -114px 0 !important;
}

a.google {
    background-position: -172px 0 !important;
}

.author img.circle {
    border-radius: 50%;
    width: 80px;
}

.author {
    padding-bottom: 7em;
}

.author-meta {
    color: #ccc;
    font-style: italic;
    font-size: 19px;
}

.author h4 {
    text-transform: uppercase;
}
.author .desc {
    width: 350px;
    margin: auto;
    padding-bottom: 10px;
    font-style: normal;
    font-size: 14px;
    line-height: normal;
    color: #333;
}

.bordered-picture video,
.picture video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: auto;
}

.full-picture video {
    position: fixed; right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: -100;
    background-size: cover;
}

.bordered-picture video {
    width: 77%;
    margin-left: 11.5%;
    margin-right: 11.5%;
}

.bg-section {
    padding: 1px 0px;
}

.bg-section section {
    margin-bottom: 40px;
    margin-top: 40px;
}

.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000;
}

.video-container .title-container {
  z-index: 1000;
  position: absolute;
  background-color: rgba(0, 0, 0, .4);
  width: 100%;
  height: 100%;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0;
}
.video-container video.fillWidth {
  width: 100%;
}
