{% set absolute_url = settings.url + "/" + link + "/" %}
<meta property="og:title" content="{{ gallery.title }}"/>
{% if gallery.cover %}
{% set cover = Image(gallery.cover) %}
{{ cover.copy() }}
<meta property="og:image" content="{{ absolute_url }}{{ cover.generate_thumbnail("x900") }}"/>
{% endif %}
<meta property="og:site_name" content="{{ settings.title }}"/>
{% if gallery.description %}
<meta property="og:description" content="{{ gallery.description }}"/>
{% endif %}
<meta property="og:type" content="article"/>
<meta property="article:published_time" content="{{ gallery.date }}">
{% if gallery.tags %}
{% for tag in gallery.tags %}
<meta property="article:tag" content="{{ tag }}">
{% endfor %}
{% endif %}
