{% set image = Image.get(link, section.image) %}
<div class="container author">
    <div class="section">
        <div class="row">
            <div class="col s12 m8 offset-m2 l6 offset-l3">
                <div class="divider"></div>
                <div class="section">
                    <div class="row valign-wrapper">
                        <div class="col s2">
                            <img src={{ image.thumbnail((200, 200)) }} alt="" class="circle responsive-img">
                        </div>
                        <div class="col s10">
                            <div class="section">
                                <span class="grey-text">Story by</span>
                                <h5>{{ section.name }}</h5>
                                {% if section.text %}
                                <span>{{ section.text }}</span>
                                {% endif %}
                                <div class="section">
                                    {% if section.twitter %}
                                    <span>
                                        <a class="black-text" href="http://twitter.com/{{ section.twitter }}">
                                            <i class="fa fa-twitter-square grey-text"></i> Twitter
                                        </a>
                                    </span>
                                    <span class="grey-text"> | </span>
                                    {% endif %}
                                    {% if section.facebook %}
                                    <span>
                                        <a class="black-text" href="http://facebook.com/{{ section.facebook }}">
                                            <i class="fa fa-facebook-official grey-text"></i> Facebook
                                        </a>
                                    </span>
                                    <span class="grey-text"> | </span>
                                    {% endif %}
                                    {% if section.website %}
                                    <span>
                                        <a class="black-text" href="{{ section.sebsite }}">
                                            <i class="fa fa-globe grey-text"></i> {{ section.website }}
                                        </a>
                                    </span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
