<div class="bordered-picture baguette caption">
    {% set image = Image(section.image) %}
    {% set caption = section.text %}
    {{ image.copy()}}
    <a href="{{ image }} {% if caption %}data-caption="{{ caption }}"{% endif %}>
        <img class="responsive-img" src="{{ image.generate_thumbnail("x2000") }}">
        {% if caption %}
        <div class="caption__overlay card-panel center">
            <h5 class="black-white">{{ caption }}</h5>
        </div>
        {% endif %}
    </a>
</div>
