<div class="parallax-container z-depth-2 valign-wrapper">
  <div class="parallax">
    {% if section.image.type == "video" %}
    {% set format = settings.ffmpeg.extension %}
    {% set video = Video(section.image) %}
    <img class="lazy" src="{{ video.generate_thumbnail("720") }}">
    <video autoplay loop muted class="fillWidth">
      <source src="{{ video }}.{{ format }}" type="video/{{ format }}">
    </video>
    {% else %}
    {% set image = Image(section.image) %}
    {{ image.copy() }}
    <img class="responsive-img" src="{{ image }}">
    {% endif %}
  </div>

  {% if section.text %}
  <div class="parallax-tittle white-text">
    <h1>{{ section.text.title }}</h1>
    <h2>{{ section.text.sub_title }}</h2>

    {% if section.text.date_end %}
    <div class="datetime">{{ section.text.date.strftime("%d %B %Y") }}  to {{ section.text.date_end.strftime("%d %B %Y") }}</div>

    {% else %}
    {% if section.text.date %}
    <div class="datetime">{{ section.text.date.strftime("%d %B %Y") }}</div>
    {% endif %}
    {% endif %}

  </div>
  {% endif %}
</div>
