{% set image = Image(section.image) %}
{{ image.copy() }}
<div class="parallax-container z-depth-1 valign-wrapper">
    <div class="parallax"><img src="{{ image }}"></div>
    {% if section.text %}
    <div class="parallax-tittle white-text">
        <h1>{{ section.text.title }}</h1>
        <h2>{{ section.text.sub_title }}</h2>
        {% if section.text.date_end }
        <div class="datetime">{{ section.text.date.strftime("%d %B %Y") }}  to {{ section.text.date_end.strftime("%d %B %Y") }}</div>{% endif %}
        {% else }
        {% if section.text.date %}
        <div class="datetime">{{ section.text.date.strftime("%d %B %Y") }}</div>{% endif %}
        {% endif %}
    </div>
    {% endif %}
</div>
