{% if section.background %}
<div style="padding: 1px 0px;background: {{ section.background }};">
{% endif %}
<div class="pictures-group baguette">
    <div class="row">
        {% for line in section.images %}
        <div class="pictures-line">
            {% for image in line %}
            {% set caption = image.text %}
            {% set image = Image(image) %}
            {{ image.copy() }}
            <div class="col">
                <div class="card">
                    <div class="picture card-image caption">
                        <a href="{{ image }}" {% if caption %}data-caption="{{ caption }}"{% endif %}>
                            <img src="{{ image.generate_thumbnail("x600") }}">
                            {% if caption %}
                            <div class="caption__overlay center">
                                <h5 class="caption__overlay__title">{{ caption }}</h5>
                            </div>
                            {% endif %}
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>
{% if section.background %}
</div>
{% endif %}
