<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		{% block css %}
		{% endblock %}
		{% if settings.rss -%}
		<link rel="alternate" type="application/rss+xml" title="{{ settings.title }}" href="{{ settings.url }}/feed.xml" />
		{% endif -%}
		<!--Let browser know website is optimized for mobile-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>{{ settings.title }}</title>
	</head>

	<body>

		<!-- Navbar and Header -->
		<nav class="nav-extended nav-full-header z-depth-0 blue-grey darken-3">
			<div class="nav-background">
        {% set image = Image(settings.cover) %}
        {{ image.copy() }}
        <div class="ea k" style="background-image: url('{{ image.generate_thumbnail("x1080") }}');"></div>
			</div>
      <div class="nav-wrapper db">
        <a href="/pages/demo" class="brand-logo"><i class="material-icons">camera</i>{{ settings.title }}</a>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        {% if settings.menu -%}
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="bt hide-on-med-and-down">
          <li><a href="/pages/demo">Gallery</a></li>
          <li class="k"><a href="/pages/dark-theme">Dark Theme</a></li>
          <li><a href="/pages/blog">Blog</a></li>
          <li><a href="/pages/docs">Docs</a></li>
          <li><a class='dropdown-button' href='#' data-activates='feature-dropdown' data-belowOrigin="true" data-constrainWidth="false">Features<i class="material-icons bt">arrow_drop_down</i></a></li>
        </ul>
        {% endif -%}
      </div>

      <div class="nav-header valign-wrapper">
        <div class="de">
          <h1>{{ settings.sub_title }}</h1>
        </div>
      </div>
    </nav>
    <ul class="side-nav" id="nav-mobile">
      <li><a href="/pages/demo"><i class="material-icons">camera</i>Gallery</a></li>
      <li class="k"><a href="/pages/dark-theme"><i class="material-icons">brightness_3</i>Dark Theme</a></li>
      <li><a href="/pages/blog"><i class="material-icons">edit</i>Blog</a></li>
      <li><a href="/pages/docs"><i class="material-icons">school</i>Docs</a></li>
      <li><a href="/pages/full-header"><i class="material-icons">fullscreen</i>Fullscreen Header</a></li>
      <li><a href="/pages/horizontal"><i class="material-icons">swap_horiz</i>Horizontal Style</a></li>
      <li><a href="/pages/no-image"><i class="material-icons">texture</i>No Image Expand</a></li>
    </ul>

    {% block content %}
    {% endblock %}

    {% include 'footer.html' %}
  </body>
</html>
