<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    {% block css %}
    {% endblock %}
    {% if settings.rss %}
    <link rel="alternate" type="application/rss+xml" title="{{ settings.title }}" href="{{ settings.url }}/feed.xml" />
    {% endif %}
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ settings.title }}</title>
  </head>
  <body>
    {% if settings.settings.night_mode %}
    <div class="floating-menu">
      <label class="switch">
        <input type="checkbox" id="toggle-box-checkbox">
        <span class="slider round"></span>
      </label>
    </div>
    {% endif %}
    <div class="gallery-header">
      {% block logo %}
      {% endblock %}
      <h1>{{ settings.title }}</h1>
      {% if settings.sub_title %}<h4>{{ settings.sub_title }}</h4>{% endif %}
      <hr>
      {% if settings.menu %}
      {% include 'menu.html' %}
      {% endif -%}
    </div>
    {% block content %}
    {% endblock %}
    {% include 'footer.html' %}
  </body>
</html>
