<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="../static/css/style.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>

    <div class="gallery-header">
      <img id="logo" src="../static/img/logo.svg" />
      <h1>Gallery Name</h1>
      <h4>Subtext of the gallery name</h4>
      <hr>
    </div>

    <div class="galleries-grid">
      <div class="galleries-line">
        <div class="gallery-square">
          <a href="#">
            <div class="gallery-title">
              <h2>First Gallery Title</h2>
              <h3>Sub gallery title</h3>
              <div class="gallery-datetime">3 march 2015</div>
            </div>
          </a>
          <div class="gallery-cover" style="background-image: url('./1.png');"></div>
        </div>
        <div class="gallery-square">
          <a href="#">
            <div class="gallery-title">
              <h2>Second Gallery Title</h2>
              <h3>Sub gallery title</h3>
              <div class="gallery-datetime">3 march 2015</div>
            </div>
          </a>
          <div class="gallery-cover" style="background-image: url('./1.png');"></div>
        </div>
      </div>

      <div class="galleries-line">
        <div class="gallery-square">
          <a href="#">
            <div class="gallery-title">
              <h2>First Gallery Title</h2>
              <h3>Sub gallery title</h3>
              <div class="gallery-datetime">3 march 2015</div>
            </div>
          </a>
          <div class="gallery-cover" style="background-image: url('./1.png');"></div>
        </div>
        <div class="gallery-square">
          <a href="#">
            <div class="gallery-title">
              <h2>Second Gallery Title</h2>
              <h3>Sub gallery title</h3>
              <div class="gallery-datetime">3 march 2015</div>
            </div>
          </a>
          <div class="gallery-cover" style="background-image: url('./1.png');"></div>
        </div>
      </div>
    </div>

    <p style="visibility: hidden">.</p>

    <footer>
      <p>Generate using <a href="https://github.com/psycojoker/prosopopee">Prosopopée</a> · content under <a href="CC-BY-SA">CC-BY-SA</a></p>
    </footer>
  </body>
</html>
