{% set image = Image.get(link, section.image) %}
<div class="author-meta">
  <img data-src={{ image.thumbnail((400, 400)) }} alt="" class="circle lazy">
  <div>
    <span class=author-info>Story by
      <h4>{{ section.name }}</h4>
      {% if section.text %}
      <div class=desc>{{ section.text }}</div>
      {% endif %}
    </span>
  </div>
  <div class="separator"></div>
  <div>
    {% if section.twitter %}
    <span>
      <a href="http://twitter.com/{{ section.twitter }}">Twitter</a>
    </span>
    {% if section.facebook or section.website %}
    <span> | </span>
    {% endif %}
    {% endif %}
    {% if section.facebook %}
    <span>
      <a href="http://facebook.com/{{ section.facebook }}">Facebook</a>
    </span>
    {% endif %}
    {% if section.website %}
    <span> | </span>
    <span>
      <a href="{{ section.sebsite }}">{{ section.website }}</a>
    </span>
    {% endif %}
  </div>
</div>
