{% set image = Image(section.image) %}
{% set caption = section.text %}
{{ image.copy()}}
{% if section.background %}
<div style="padding: 1px 0px;background: {{ section.background }};">
{% endif %}
<section class="bordered-picture baguette">
    <div class="caption">
        <a href="{{ image }} {% if caption %}data-caption="{{ caption }}"{% endif %}">
            <img src="{{ image }}">
            {% if caption %}
            <div class="caption__overlay">
                <h5 class="caption__overlay__title">{{ caption }}</h5>
            </div>
            {% endif %}
    </div>
        </a>
</section>
{% if section.background %}
</div>
{% endif %}

