{% if section.image.type == "video" %}
{% set format = settings.ffmpeg.extension %}
{% set video = Video(section.image) %}
{{ video.copy() }}
<section class="full-picture">
  <div class="video-container">
    {% if section.text %}
    <div class="title-container">
      <div class="headline animated animatedFadeInUp fadeInUp">
        <h1>{{ section.text.title }}</h1>
        <h2>{{ section.text.sub_title }}</h2>
        {% if section.text.date_end %}
        <div class="datetime">{{ section.text.date.strftime("%d %B %Y") }}  to {{ section.text.date_end.strftime("%d %B %Y") }}</div>
        {% else %}
        {% if section.text.date %}
        <div class="datetime">{{ section.text.date.strftime("%d %B %Y") }}</div>{% endif %}
        {% endif %}
      </div>
    </div>
    {% endif %}
    <video autoplay loop muted class="fillWidth">
      <source src="{{ video }}.{{ format }}" type="video/{{ format }}">
    </video>
    <img class="lazy full-picture responsive-video" src="/../static/img/11-14.svg" data-src="{{ video.generate_thumbnail("2000") }}">
  </div>
</section>
{% else %}
{% set image = Image(section.image) %}
{{ image.copy() }}
<section class="lazy full-picture" data-bg="url({{ image.generate_thumbnail("x2000") }})" style="background-position: 50% 50%; background-repeat: no-repeat; background-attachment: {% if section.fixed %} fixed {% else %} scroll {% endif %};background-size: cover;">
  {% if section.text %}
  <div class="picture-text">
    <div class="picture-text-column animated animatedFadeInUp fadeInUp">
      <h1>{{ section.text.title }}</h1>
      <h2>{{ section.text.sub_title }}</h2>
      {% if section.text.date_end %}
      <div class="datetime">{{ section.text.date.strftime("%d %B %Y") }}  to {{ section.text.date_end.strftime("%d %B %Y") }}</div>
      {% else %}
      {% if section.text.date %}
      <div class="datetime">{{ section.text.date.strftime("%d %B %Y") }}</div>{% endif %}
      {% endif %}
    </div>
  </div>
  {% endif %}
</section>
{% endif %}
