{% if section.background %}
<div style="padding: 1px 0px;background: {{ section.background }};">
{% endif %}
<section class="pictures-group baguette">
    {% for line in section.images %}
        <div class="pictures-line">
            {% for image in line %}
            {% set caption = image.text %}
            {% set image = Image(image) %}
            {{ image.copy() }}
            <div class="picture caption">
                <a href="{{ image }}" {% if caption %}data-caption="{{ caption }}"{% endif %}>
                    <img src="{{ image.generate_thumbnail("x600") }}">
                    {% if caption %}
                    <div class="caption__overlay">
                        <h5 class="caption__overlay__title">{{ caption }}</h5>
                    </div>
                    {% endif %}
                </a>
            </div>
            {% if not loop.last %}
            <div class="separator"></div>
            {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
</section>
{% if section.background %}
</div>
{% endif %}
