{% set extension = settings.ffmpeg_audio.extension %}
{% set audio = Audio(section.image) %}
{% if extension == "mp3" %}
{% set format = "mpeg" %}
{% else %}
{% set format = extension %}
{% endif %}
{% if settings.settings.light_mode %}
{% set pathstatic = ".." %}
{% else %}
{% set pathstatic = "." %}
{% endif %}
{{ audio.copy() }}
<h4>{% if section.title %}{{ section.title }}{% else %}{{ audio }}{% endif %}</h4>
<audio controls preload=none>
  <source src="{{ pathstatic }}/{{ audio }}.{{ extension }}" type="audio/{{ format }}">
</audio>
