{% if settings.settings.light_mode %}
{% set pathstatic = ".." %}
{% else %}
{% set pathstatic = "." %}
{% endif %}
{% set image = Image.get(link + "/" + pathstatic, section.image) %}
<div class="author-meta">
  <img src="{{ pathstatic }}/{{ image.thumbnail((200, 200)) }}" alt="" class="circle">
    <div>
        <span class=author-info>Story by
        <h4>{{ section.name }}</h4>
        {% if section.text %}
        <p class=desc>{{ section.text }}</p>
        {% endif %}
        </span>
    </div>
    <div class="separator"></div>
    <div>
        {% if section.twitter %}
        <span>
            <a href="http://twitter.com/{{ section.twitter }}">Twitter</a>
        </span>
        <span> | </span>
        {% endif %}
        {% if section.facebook %}
        <span>
            <a href="http://facebook.com/{{ section.facebook }}">Facebook</a>
        </span>
        <span> | </span>
        {% endif %}
        {% if section.website %}
        <span>
            <a href="{{ section.sebsite }}">{{ section.website }}</a>
        </span>
        {% endif %}
    </div>
</div>
