{% if settings.settings.light_mode %}
{% set pathstatic = ".." %}
{% else %}
{% set pathstatic = "." %}
{% endif %}
{% if section.image.type == "video" %}
{% set video = Video(section.image) %}
{% set format = settings.ffmpeg.extension %}
{{ video.copy() }}
{% else %}
{% set image = Image(section.image) %}
{{ image.copy() }}
{% endif %}
{% set caption = section.text %}
{% if video %}
<section class="bordered-picture">
  <video class="responsive-video" id="video" poster="{{ pathstatic }}/{{ video.generate_thumbnail("800") }}" alt="" autoplay="autoplay" loop="loop" preload="auto" muted>
    <source src="{{ pathstatic }}/{{ video }}.{{ format }}" type="video/{{ format}}">
    </video>
</section>
{% else %}
<section class="bordered-picture">
  <img src="{{ pathstatic }}/{{ image.generate_thumbnail("x800") }}" alt="{% if caption %}{{ caption }}{% endif %}">
</section>
{% endif %}

