{% if settings.settings.light_mode %}
{% set pathstatic = ".." %}
{% else %}
{% set pathstatic = "." %}
{% endif %}
<section class="paragraph">
  {% if section.title %}
  <h3>{{ section.title }}</h3>
  {% endif %}
  <p>
  {% if section.image %}
  {% set image = Image.get(link + "/" + pathstatic, section.image) %}
  {% if section.image.float %}
  {% set float = section.image.float %}
  {% else %}
  {% set float = 'left' %}
  {% endif %}
  <span class="{{ float }}">
    <img src="{{ pathstatic }}/{{ image.thumbnail((None, 150)) }}" alt=""/>
  </span>
  {% endif %}
  {{ section.text }}
  </p>
  <div class="clear"></div>
</section>
