<section class="pictures-group">
    {% for line in section.images %}
    {% for image in line %}
    {% if image.type == "video" %}
    {% set caption = image.text %}
    {% set video = Video(image) %}
    {{ video.copy() }}
    {% else %}
    {% set caption = image.text %}
    {% set image = Image(image) %}
    {{ image.copy() }}
    {% endif %}
    <div class="image">
        {% if video %}
        <video id="video" poster="../{{ video.generate_thumbnail("800") }}" alt="" autoplay="autoplay" loop="loop" preload="auto" muted>
            <source src="../{{ video }}" type="video/webm" data-source="../{{ video }}" data-format="vp8" data-extension="webm">
        </video>
        {% set video = "" %}
        {% else %}
        <img src="../{{ image.generate_thumbnail("x800") }}" alt="{% if caption %}{{ caption }}{% endif %}">
        {% endif %}
    </div>
    {% endfor %}
    {% endfor %}
</section>
