<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <link type="text/css" rel="stylesheet" href="../materialize/css/style-page.css"  media="screen,projection"/>

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
    <section class="full-picture" style="background: transparent url('./1.png') no-repeat scroll center top / cover;">
    </section>

    <section class="full-picture" style="background: transparent url('./1.png') no-repeat scroll center top / cover;">
    </section>

    <section class="bordered-picture">
        <img src="./1.png">
    </section>

    <section class="pictures-group">
        <div class="pictures-line">
            <div class="picture">
                <img src="./1-small.png">
            </div>
            <div class="separator"></div>
            <div class="picture">
                <img src="./2-small.png">
            </div>
            <div class="separator"></div>
            <div class="picture">
                <img src="./1-small.png">
            </div>
        </div>
    </section>

  <footer>
      <p>Generate using <a href="https://github.com/psycojoker/prosopopee">Prosopopée</a> · content under <a href="CC-BY-SA">CC-BY-SA</a></p>
  </footer>
</body>
</html>
