<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <link type="text/css" rel="stylesheet" href="../materialize/css/style-page.css"  media="screen,projection"/>

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
    <section class="full-picture" style="background: transparent url('./1.png') no-repeat scroll center top / cover;">
    </section>

    <p>pouet</p>

    <section class="full-picture" style="background: transparent url('./1.png') no-repeat scroll center top / cover;">
    </section>

    <p>pouet</p>

    <img class="bordered-picture" src="./1.png">
    </section>

</body>
</html>
