<section class="pictures-group baguette">
    {% for line in section.images %}
        <div class="pictures-line">
            {% for image in line %}
                {{ helpers.copy_image(image) }}
                <div class="picture">
                    <a href="{{ image }}">
                        <img src="{{ helpers.generate_thumbnail(image, "x600") }}">
                    </a>
                </div>
            {% if not loop.last %}
                <div class="separator"></div>
            {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
</section>
