<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    {% block css %}
    {% endblock %}
    {% if settings.rss -%}
    <link rel="alternate" type="application/rss+xml" title="{{ settings.title }}" href="{{ settings.url }}/feed.xml" />
    {% endif -%}
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ settings.title }}</title>
  </head>

  <body>

    <!-- Navbar and Header -->
    <nav class="nav-extended nav-full-header z-depth-0 blue-grey darken-3">
      <div class="nav-background">
        <div class="ea k"></div>
      </div>
      <div class="nav-wrapper db">
        <a href="#" class="brand-logo"><i class="fa fa-camera" aria-hidden="true"></i><p>{{ settings.title }}</p></a>
        {% if settings.menu -%}
        {% include 'menu.html' %}
        {% endif -%}
      </div>

      <div class="nav-header valign-wrapper">
        <div class="de">
          <h1>{{ settings.sub_title }}</h1>
        </div>
      </div>
    </nav>

    {% block content %}
    {% endblock %}

    {% include 'footer.html' %}
  </body>
</html>
